<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
				<img src="/static/img/MS_Web_Icon_Kurier_2102.svg" width="25px" height="25px" alt="Logo" decoding="async">
			<em>
				<a style= "font-family: 'PanamaItalic',serif;" href="{{ '/' | url }}">{{ metadata.title }}</a>  <b>@ Café du Bonheur</b>
			</em>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
